body {
    background-color: #eceff1;
}

#card-form {
    margin-top: 5vh;
}

.home {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.home:hover {
    color: white;
    text-decoration: none;
}