{% extends 'layout.njk' %}
{% block content %}
     <div class="answer-content">
      <div class="question">
        <h1>{{question.titulo}}</h1>
        <p>
          {{question.descricao}}
        </p>
      </div>
      <form action="/answer" method="POST">
        <label for="corpo">Responder</label>
        <textarea id="corpo" name="corpo" cols="30" rows="7"></textarea>
        <input type="hidden" name="perguntaId" value="{{question.id}}">
        <button>Responder</button>
      </form>
      <h1>Respotas</h1>
      {%for answer in answers%}
      <div class="answer">
        <p>{{answer.corpo}}</p>
      </div>
      {%endfor%}
    </div>
    {% endblock %}