{% extends 'layout.njk' %}
{% block content %}
    <div id="wrapper">
      {%for question in questions%}
      <div class="card">
        <div class="card-header">
          <h1>{{question.title}}</h1>
        </div>
        <div class="card-body">
          <p>
            {{question.description}}
          </p>
        </div>

        <div class="card-footer">
          <div class="total-comment">
            <img src="./img/icons8_comments_16.png" alt="" />
            <p>{{answers.count}}</p>
          </div>
          <a href="/question/{{question.slug}}" class="answer-button">
              <img src="./img/icons8_topic_filled_16.png" alt="" />
              Responder
          </a>
        </div>
      </div>
      <br />
    {%endfor%}
    <br>
      <a href="/page/2" class="btnPaginate">Ver mais perguntas</a>
    </div>

{% endblock %}

