{% extends 'layout.njk' %}
{% block content %}
    <div id="wrapper">
      {%for question in questions%}
      <div class="card">
        <div class="card-header">
          <h1>{{question.titulo}}</h1>
        </div>
        <div class="card-body">
          <p>
            {{question.descricao}}
          </p>
        </div>

        <div class="card-footer">
          <div class="total-comment">
            <img src="./img/icons8_comments_16.png" alt="" />
            <p>50+</p>
          </div>
          <a href="/question/{{question.id}}" class="answer-button">
              <img src="./img/icons8_topic_filled_16.png" alt="" />
              Responder
          </a>
        </div>
      </div>
      <br />
    {%endfor%}
    </div>
{% endblock %}

