<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perguntas</title>
       
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
      <nav>
        <a href="/" class="logo"
          >Ask <span class="point"></span> <span>Me</span></a
        >
        <a href="/question" class="addQuestionButton">
            <img src="/img/icons8_plus_math_16.png" alt="tetet" />
            Faça uma pergunta
        </a>
      </nav>
    </header>
        {%block content %}
        {%endblock%}
        <script src="/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html></html>